@import "tailwindcss";
@theme {
    --color-app-bg: #080808;
    --color-panel-bg: #111111;
    --color-header-bg: #1a1a1a;
    --color-border-dark: #333333;
    --color-accent-cyan: #7df9ff;
    --color-text-main: #eeeeee;
    --color-text-muted: #888888;
    --color-pad-bg: #151515;
    --spacing-control-h: 180px;
}


body {
    overflow: hidden;
    background-color: #080808;
    font-family: "Mona Sans Variable", Helvetica, sans-serif;   
    user-select: none;
}

/* Custom scrollbar for file browser */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}